In [1]:
import numpy as np
import pandas as pd

In [302]:
df = pd.read_csv('sample.csv')

In [307]:
# Declartion of the Dataset per RDS POS

RDS00001=df.loc[df['pos_code']=='RDS00001']
RDS00002=df.loc[df['pos_code']=='RDS00002']
RDS00003=df.loc[df['pos_code']=='RDS00003']
RDS00004=df.loc[df['pos_code']=='RDS00004']
RDS00005=df.loc[df['pos_code']=='RDS00005']
RDS00006=df.loc[df['pos_code']=='RDS00006']
RDS00007=df.loc[df['pos_code']=='RDS00007']
RDS00008=df.loc[df['pos_code']=='RDS00008']
RDS00009=df.loc[df['pos_code']=='RDS00009']
RDS00010=df.loc[df['pos_code']=='RDS00010']
RDS00011=df.loc[df['pos_code']=='RDS00011']
RDS00012=df.loc[df['pos_code']=='RDS00012']
RDS00013=df.loc[df['pos_code']=='RDS00013']
RDS00014=df.loc[df['pos_code']=='RDS00014']
RDS00015=df.loc[df['pos_code']=='RDS00015']
RDS00016=df.loc[df['pos_code']=='RDS00016']

,accountId,client_name,date_applied,orderNo,billAmount,ticket_type,pos_name,pos_code,ticket_code
0,1325808,Mark Ranier Bernabe Agunoy,2019-05-28,B190528124241746,3000.0,B2S,Robinsons Department Store - Lipa,RDS00002,B190528124241746-1
2,1340221,Shiela Marie Catapat Banaag,2019-05-29,B190529124245075,2500.0,B2S,Robinsons Department Store - Lipa,RDS00002,B190529124245075-1

In [130]:
df.ticket_code

0    B190528124241746-1
1    B190529124245075-1
2    B190529124247400-1
3    B190529124247400-2
4    B190529124247400-3
5    B190529124247400-4
Name: ticket_code, dtype: object

In [295]:
len(df)

6

In [300]:
arr = df.ticket_code
# winners below will never contain repeated ticket_code (replace=False)
winners = np.random.choice(arr, 2, replace=False)

In [301]:
df.loc[df['ticket_code'].isin(numbers)]

,accountId,client_name,date_applied,orderNo,billAmount,ticket_type,pos_name,ticket_code
0,1325808,Mark Ranier Bernabe Agunoy,2019-05-28,B190528124241746,3000.0,B2S,Robinsons Department Store - Lipa,B190528124241746-1
2,188745,Anna Marie Faller Pinlac,2019-05-29,B190529124247400,11000.0,B2S,Robinsons Department Store - Cloverleaf,B190529124247400-1

In [298]:
numbers[0]

'B190528124241746-1'

In [299]:
numbers

array(['B190528124241746-1', 'B190529124247400-1'], dtype=object)